<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- PWA Assets -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    
</head>

	<body>

		<h1>Hello, Flask!</h1>
	
	</body>

</html>